In [7]:
import pandas as pd

In [57]:
df = pd.read_csv('raw_datasets/moview_user_reviews.csv', names=['user_id', 'movie_id', 'user_rating', 'user_review'])

In [9]:
import os
os.listdir()

['.git',
 '.idea',
 '.ipynb_checkpoints',
 'datasets',
 'data_collection',
 'data_preparation',
 'EDA.ipynb',
 'feature_extraction',
 'raw_datasets',
 'README.md',
 'requirements.txt']

In [58]:
df.head()

,user_id,movie_id,user_rating,user_review
0,ur2467618,tt0000682,8,"If you are a lover of the history of cinema, t..."
1,ur10334028,tt0000682,6,"Émile Cohl, a French caricaturist, is often de..."
2,ur0278527,tt0000682,7,This is a pretty neat little film. It appears ...
3,ur13134536,tt0000682,7,Fantasmagorie (1908)\n\n**** (out of 4)\n\nLan...
4,ur1174539,tt0000682,7,Even if it wasn't rightly famous for being the...

In [81]:
df.shape

(250578, 4)

In [83]:
df.dropna(subset=['user_review'],inplace=True)

In [79]:
df.movie_id.nunique()

32841

In [85]:
df.user_id.nunique()

40834

In [73]:
df.describe(include='all')

,user_id,movie_id,user_rating,user_review
count,250578,250578,250578.000000,250578
unique,40834,32841,NaN,250519
top,ur2467618,tt0058403,NaN,When this show was on I watched it every time ...
freq,9485,24,NaN,5
mean,NaN,NaN,6.647519,NaN
std,NaN,NaN,2.073121,NaN
min,NaN,NaN,1.000000,NaN
25%,NaN,NaN,6.000000,NaN
50%,NaN,NaN,7.000000,NaN
75%,NaN,NaN,8.000000,NaN
max,NaN,NaN,10.000000,NaN

In [91]:
df['user_review'].value_counts(sort=True)

user_review
When this show was on I watched it every time I could! I thought that the characters were really funny and all had great personalities. The animation in My opinion was crisp, clean, and really clear. Not to mention beautiful! Most of the characters in this show are hilarious like the Looney Tunes characters that we all love. in My opinion these characters are the funnies and talented ever seen. In fact, The things that goes on in this series' cartoons are in My opinion nuts which that is what makes them hilarious! There are so many to like and laugh at and the silly things they do! If you like the original Looney Tunes then I strongly recommend that you watch this show!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    5
The "Hunting Trilogy" of Rabbit Fire (1951), Rabbit Seasoning (1952), and Duck! Rabbit! Duck! (1953) should be considered the comedic high water mark of the Chuck Jones-Michael Maltese collaboration. While they are seldom mentioned in lists of the "greatest" or "most important" cartoons in the history of animation, they are certainly THE FUNNIEST cartoons I've ever seen. Michael Maltese never got the credit that directors like Jones, Freleng or Avery got, but it's his dialogue and situations that make Warner Bros. cartoons, and these three in particular, some of the FUNNIEST ever made.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          3
This show never laughs at itself (setting it apart from most of the James Bond and follow-on genre shows). Instead, it projects the inimitable Patrick McGoohan as a consistently efficacious hero: fast-thinking, innovative, ultra-capable, tenaciously-focused on the mission, yet when achieving the mission is not enough, he's able to think outside the box, to re-define his goals and achieve success in a wider context.\n\nFor a little boy starving to see a hero on television, "Danger Man" (and the subsequent "Secret Agent Man") was just what I needed. A hundred times over the years, facing my own moments of challenge, I remembered how John Drake had handled things. Nevermind the detail of his job being a "secret agent," the essential of this show is: a man of quintessential skill and reason who uses his mind to take him over, under, around or through all obstacles -- and *that* is what you take away from every episode.\n\nIt's food for the soul.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               2
KG was a coloratura soprano versus ML tenor. Along the scores, KG's part is more difficult. Every syllabe of any piece ended by this soprano, but not by this tenor which was merely assistent! So, the real protagonist in the both musicals seems to be KG.\n\nKG's playing is dynamic, while that of ML only static. Thus, performing for the 2nd time Be My Love, KG's head movements are truly artistic and dynamic, while ML stays static. The same again with I'l Never Love You where 2 ladies and 2 gentlemen are catching one another's looks.\n\nHer personal life ended with two divorses as stated by courts due to the 'mental cruelty' of her both husbands. However, singing was her eternal aim and end, nothing was more important in her life than that. Recollecting the scene at the riverside, she mentions that in the same words. It's not a lady trick while refusing any further kiss. We do believe she is doing so because she is really afraid of her career getting lost due to a love adventure. So, she is playing herself.\n\nKG's creature is more powerful in any sense while she ended as a supervisor at the state university of Idaho.\n\nThat's why her name must be placed before that of ML, she is the real protagonist in the both musicals, The Toast of New Orleans and That Midnight Kiss.\n\nKG puts through the modernism style as for the way of dressing herself (more precisely, the Jugend Style), keeping her (mouth) make up properly sized versus that of these times in postmodernism. Those times will never come back again.\n\nThank you for having read my contribution.\n\nA.T., a university professor, Berlin, Germany.    2
Even if you can't see a sub-titled version, you won't miss anything; as someone has already mentioned, the dialog in this film is extremely minimal. Instead, the viewer is immersed in the story through the natural sounds of the wild Bulgarian hills, empathic and creative (but never obtrusively 'there') camera-work and the amazingly expressive and authentic performances of the two lead actors.\n\nWhen this film was released it was seen by three million people in Bulgaria, and the population then was only 8 1/2 million.\n\nIt is sad to relate that the director, Metodi Andonov, lived only a few years after the making of this film. With so few examples existing of his craft, The Goat Horn is even more precious.\n\nAn absolutely beautiful, unforgettable film.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ..
Larry (Chester Morris) hires photographer Pat (Nancy Kelly) for his magazine. They fall in love but there is a problem - her boyfriend Ben (Phillip Terry) back home. At first, as an excuse to fend off any advance from Larry, Pat pretends that Ben is her brother and that he is staying with her. The situation is made worse when Ben actually turns up and is forced to go along with the charade for the sake of Pat's job. This makes for a good comedy scene at a nightclub where Ben is given another date, Mavis (Roma Aldrich) to whom he shows absolutely no interest. Larry discovers the deceit just as a murder is committed and Pat is to stand trial for the crime. It's all in Larry's hands.....\n\nThis is a quick moving comedy that throws us a mystery towards the end. There are many good scenes and the dialogue is funny. The whole cast perform well in this enjoyable, tongue-in-cheek story and it is worth keeping onto to watch again. One criticism is the quality of the film. It's a story about the publishing business and it's no surprise to learn that photos were being faked to sell newspapers in those days just as they are today (especially on the fashion pages!). In this instance, they are even faked to solve a crime.                                                                                                                                                                                                                                                                                                                                                                                                              1
William Pine and William Thomas -- Paramount's B producers who took sturdy projects and turned out decent movies on modest budgets, earning them the appellation of "The Dollar bills" -- have a fine one-hour flick in this movie. Nancy Kelly gets a photography gig at a New York magazine, with wolfish Chester Morris as her boss; she totes along would-be fiancé Philip Terry, claiming he is her brother, to stand off Morris. She's smart, hard-working and they gradually fall in love, with many a quip, when a murdered woman pops up -- and it looks exactly like the picture of Miss Kelly that she posed for the magazine; her alibi is Mr. Terry, but he's been shipped out on a convoy to Russia and lost at sea.\n\nRichard Gaines is along as the health-nut publisher, and there are a lot of good gags for the first three-quarters of the picture, until the murder mystery takes over. Dewey Robinson as a cab driver also has a few good lines.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
How many films from the 1940s start with the misunderstanding caused by a name that could belong to either a man or a woman? That's how Double Exposure begins. Magazine editor Larry Burke (Chester Morris) hires a photographer he's never met named "Pat" (Nancy Kelly). Of course "Pat" ends up being a woman, setting the stage for a few laughs and a predictable romance. Things get complicated, however, when: (a) Pat's old beau shows up, and (b) Pat is accused of murder.\n\nDouble Exposure isn't anything deep, but it is a decent little film that I found reasonably entertaining. For me, the comedy bits (especially those involving the health-nut magazine owner) far outweighed the mystery elements. The killer's real identity was way too easy to guess. The film is also helped along by some snappy direction and pacing. Director William Berke really keeps things moving. The film's highlight (at least for me) has to be Nancy Kelly's performance. Delightful, charming, and funny would be a few of the adjectives I'd use to describe Kelly in Double Exposure. Her performance raises the film's enjoyment in my eyes to a notch slightly above average. Overall, if you go into Double Exposure without a ton of expectations, you might discover a nice little movie worth watching.\n\nFinally, another bit I liked was the storyline given to ex-boyfriend, Ben. I won't spoil it, but his final scene actually surprised me. Well done.\n\n6/10.                                                                                                                                                                                                 1
Chester Morris stars with Nancy Kelly, Philip Terry, and Jane Farrar star in "Double Exposure" from 1944.\n\nChester Morris as Larry Burke works at a picture magazine called Flick, and he's not above faking a shot to get a good cover. The company needs photographers, so when his boss sees a plane crash photo done by one Pat Marvin, he has Larry hire him.\n\nWhen Pat arrives, he's a she, and a very attractive one at that. Pat has left behind a boyfriend, Ben (Terry) to come to New York, except that he shows up. She tells Larry that Ben is her brother. Larry gives him a job as well.\n\nLarry assigns Pat and Ben to a fictional murder mystery case that will involve photos. Pat has attracted a millionaire who is on his sixth wife or so and is going to Reno to divorce him. He gives Pat the keys to his apartment. So she and Ben set up the murder scene there.\n\nTo their surprise, there is a murder at the apartment later - and the pose is exactly like Pat's, face down on the divan. Naturally the police arrive. They believe Pat photographed the murdered woman after killing her, so she's indicted and is stuck in jail. Larry loves the publicity, but he realizes the murder has to be solved to get her out. So he goes to work.\n\nFunny, fast-moving film with some wild characters, including the crazy boss who makes his employees do calisthenics and passes out carrots. Morris and Kelly have good chemistry.\n\nI especially loved the photo faking which included a lot of cutting, pasting, and white-out. Just think, with Photoshop it would have been nothing.                                                              1
George Lucas crafted an interesting narrative. Nope. The film is a disconnected series of vignettes that never converge or land with any impact.\n\nLucas' direction was skillful and interesting. Nope. There was nothing in the direction that felt connected or special. The scenes seemed to be blocked for ease of shooting and little more. If the movie hadn't been set at night, it would have been a visual bomb.\n\nThe characters were compelling and realistic. Nope. It was a series of tired archetypes.\n\nThe film was emotional and dramatic. Nope. I didn't develop any sense of empathy or sympathy for any of them.\n\nThe film was genuinely funny. Nope. How this was billed as a comedy is a total mystery.\n\nThe music was appropriate and woven well into the story. Nope. The music, while time appropriate, was overbearing and disconnected from the "story" (there wasn't one).\n\nBut there was a LOT of Wolfman Jack (for what that's worth).\n\nIf American Graffiti was ever considered a good film, it has lost its appeal over the years. I'm glad it scratches the itch for 75 year-olds as a trip down some mythical memory lane, but a good movie it is not.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
Name: count, Length: 250519, dtype: int64

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250578 entries, 0 to 250577
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      250578 non-null  object
 1   movie_id     250578 non-null  object
 2   user_rating  250578 non-null  int64
 3   user_review  250578 non-null  object
dtypes: int64(1), object(3)
memory usage: 7.6+ MB

In [103]:
df['user_review'

user_id        0
movie_id       0
user_rating    0
user_review    0
dtype: int64

In [125]:
import pandas as pd

movies_df = pd.read_csv('raw_datasets/movies.csv', index_col=0)

C:\Users\aatis\AppData\Local\Temp\ipykernel_14168\2020808689.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df = pd.read_csv('raw_datasets/movies.csv', index_col=0)

In [107]:
movies_df.head()

,tconst,averageRating,numVotes,directors,writers,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,5.7,2118,nm0005690,\N,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,5.6,285,nm0721526,\N,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,6.4,2158,nm0721526,\N,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,5.3,183,nm0721526,\N,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,6.2,2886,nm0005690,\N,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short

In [111]:
users_df = pd.read_csv('raw_datasets/moview_user_reviews.csv', names=['user_id', 'movie_id', 'user_rating', 'user_review'])

In [113]:
users_df.head()

,user_id,movie_id,user_rating,user_review
0,ur2467618,tt0000682,8,"If you are a lover of the history of cinema, t..."
1,ur10334028,tt0000682,6,"Émile Cohl, a French caricaturist, is often de..."
2,ur0278527,tt0000682,7,This is a pretty neat little film. It appears ...
3,ur13134536,tt0000682,7,Fantasmagorie (1908)\n\n**** (out of 4)\n\nLan...
4,ur1174539,tt0000682,7,Even if it wasn't rightly famous for being the...

In [127]:
movies_df_1 = movies_df[movies_df['tconst'].isin(users_df.movie_id)]

In [131]:
movies_df_1.shape

(32841, 13)

In [133]:
movies_df = pd.read_csv('raw_datasets/movies.csv', index_col=0)
users_df = pd.read_csv('raw_datasets/moview_user_reviews.csv', names=['user_id', 'movie_id', 'user_rating', 'user_review'])
movies_df_1 = movies_df[movies_df['tconst'].isin(users_df.movie_id)]

users_df = pd.read_csv('raw_datasets/moview_user_reviews_20k.csv', names=['user_id', 'movie_id', 'user_rating', 
                                                                    'user_review'])
movies_df_2 = movies_df[movies_df['tconst'].isin(users_df.movie_id)]
combined_df = pd.concat([movies_df_1, movies_df_2]).drop_duplicates(subset='tconst')
# combined_df.to_csv('../datasets/movies.csv')

C:\Users\aatis\AppData\Local\Temp\ipykernel_14168\2533176202.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df = pd.read_csv('raw_datasets/movies.csv', index_col=0)

In [137]:
combined_df.shape

(32853, 13)

In [141]:
combined_df.to_csv('datasets/movies.csv')